@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #312f40;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tenzies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 45%;
  min-width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.tenzies-header {
  font-size: 3em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  cursor: default;
}

.tenzies-description {
  font-size: 1.3em;
  padding: 0 20px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  cursor: default;
}

.tenzies-roll {
  width: 150px;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  background-color: #4b3bcc;
  border-radius: 5px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
}

.tenzies-roll:active {
  background-color: #302682;
  -webkit-box-shadow: inset 2px 2px 2px black;
          box-shadow: inset 2px 2px 2px black;
}

.tenzies-dice-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(40px, 70px) minmax(40px, 70px);
  -ms-grid-columns: minmax(40px, 70px) minmax(40px, 70px) minmax(40px, 70px) minmax(40px, 70px) minmax(40px, 70px);
      grid-template: minmax(40px, 70px) minmax(40px, 70px)/minmax(40px, 70px) minmax(40px, 70px) minmax(40px, 70px) minmax(40px, 70px) minmax(40px, 70px);
  gap: 20px;
}

.tenzies-dice-container .tenzies-dice {
  -webkit-box-shadow: 2px 2px 5px grey;
          box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */